<template>
    <div>
        <nav-bar></nav-bar>
        <div class="container mt-3 h-100">
            <div class="d-flex h-100">
                <div class="col-md-4 mx-auto mt-5 flex-grow-1 align-self-center">
                    <form>
                        <div class="form-group">
                            <label for="tradingName">Empresa</label>
                            <input type="email" v-model="invoice.trading_name" class="form-control" id="tradingName">
                        </div>
                        <div class="form-group">
                            <label for="dataVencimento">Data de Vencimento</label>
                            <input type="date" v-model="invoice.due_date" class="form-control" id="dataVencimento">
                        </div>
                        <div class="form-group">
                            <label for="price">Preço</label>
                            <money v-model="invoice.price" v-bind="money" class="form-control"></money>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" v-model="invoice.paid" class="form-check-input" id="paid">
                            <label class="form-check-label" for="paid">Pago?</label>
                        </div>
                        <button type="submit" @click.prevent="updateInvoice" class="btn btn-success mt-2">Enviar</button>
                    </form>
                    <div class="alert alert-success mt-2" v-if="message" role="alert">
                        {{ message }}
                    </div>
                    <div class="alert alert-danger mt-2" v-if="errors" v-for="error in errors" role="alert">
                        {{ error.messages[0] }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import navBar from '../NavBar.vue'
    import {Money} from 'v-money'
    import moment from 'moment'

    export default {
        data() {
            return {
                invoice: {
                    trading_name: '',
                    due_date: '',
                    paid: false,
                    user_id: 1,
                    price: ''
                },
                errors: [],
                message: '',
                money: {
                    prefix: 'R$ ',
                    precision: 2
                }
            }
        },
        mounted() {
            this.getInvoice()
        },
        methods: {
            getInvoice() {
                axios.get(`http://localhost:3000/invoices/${this.$route.params.id}`)
                .then(response => {
                    this.invoice = response.data
                    this.invoice.paid = this.formatPaid(this.invoice.paid)
                    this.invoice.due_date = this.formatDueDate(this.invoice.due_date)
                })
                .catch(error => {
                    console.log(error)
                })
            },
            updateInvoice() {
                axios.put(`http://localhost:3000/invoices/${this.$route.params.id}`, this.invoice, {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => {
                    this.errors = []
                    this.message = response.data.msg
                })
                .catch(error => {
                    this.message = ''
                    this.errors = error.response.data.errors
                })
            },
            formatDueDate(dateDatabase) {
                return moment.utc(dateDatabase).format('YYYY-MM-DD')
            },
            formatPaid(paid) {
                return (paid == 1) ? true : false 
            }
        },
        name: 'New',
        components: {
            navBar,
            Money
        }
    }
</script>