<template>
  <div>
    <nav-bar></nav-bar>
    <div class="container">
      <router-link to="/new">
        <button class="btn btn-success mt-2 mb-2">Nova Fatura</button>
      </router-link>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Empresa</th>
            <th scope="col">Preço</th>
            <th scope="col">Data de Vencimento</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="invoice in invoices" :key="invoice.id">
            <td scope="row">{{ invoice.id }}</td>
            <td>{{ invoice.trading_name }}</td>
            <td>{{ invoice.price | priceFormat }}</td>
            <td>{{ invoice.due_date | dateFormat }}</td>
            <td>{{ invoice.paid | paidFormat }}</td>
            <td>
              <router-link :to="{ name : 'edit', params: {id: invoice.id} }">
                <i class="fas fa-edit mr-2"></i>
              </router-link>
              <i @click.prevent="deleteInvoice(invoice.id)" class="fas fa-trash-alt"></i>
            </td>
          </tr>
          <tr v-if="invoices.length == 0">
            <td colspan="6">
              Nenhum resultado encontrado
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import navBar from '../NavBar.vue'

export default {
  data() {
    return {
      invoices: []
    }
  },
  mounted() {
    this.listInvoices()
  },
  methods: {
    listInvoices() {
      axios.get('http://localhost:3000/invoices')
      .then(response => {
        this.invoices = response.data
      })
      .catch(error => {
        console.log(error)
      })
    },
    deleteInvoice(id) {
      axios.delete(`http://localhost:3000/invoices/${id}`)
      .then(response => {
          this.errors = []
          this.message = response.data.msg
          this.listInvoices()
      })
      .catch(error => {
          this.message = ''
          this.errors = error.response.data.errors
      })
    }
  },
  filters: {
    paidFormat(paid) {
      return paid === 1 ? 'Pago' : 'Pendente'  
    },
    dateFormat(dateDatabase) {
      const date = new Date(dateDatabase)

      const monthNames = [
        "01", "02", "03",
        "04", "05", "06", "07",
        "08", "09", "10",
        "11", "12"
      ]

      const day = date.getDate()
      const monthIndex = date.getMonth()
      const year = date.getFullYear()

      return `${day}-${monthNames[monthIndex]}-${year}`
    },
    priceFormat(price) {
      return `R$${price}`
    }
  },
  name: 'List',
  components: {
    navBar
  }
}
</script>
