<style>
    .navbar {
        background-color: #0F2417;
    }

    .wise {
        color: #FFFFFF;
    }

    .sales {
        color: #46A46C;
    }

    .nav-link {
        color: white !important;
    }

    .wisesales {
        text-decoration: none;
        color: transparent;
        font-size: 20px;
    }

    .wisesales:link {
        color: transparent;
    }

    .wisesales:visited {
        color: transparent;
    }

    .wisesales:hover {
        color: transparent;
    }

    .wisesales:active {
        color: transparent;
    }

    .logout {
        float: right;
    }
</style>

<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <router-link :to="{ name: 'list' }" class="nav-link">
                                Minhas Faturas <span class="sr-only">(current)</span>
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
export default {

}
</script>